{% extends base %}

{% block style %} <link rel="stylesheet" href="{{ url_for("static", filename="styles/new_account.css") }}"> {% endblock %}

{% block content %}
    <h2>Новый аккаунт</h2>
    {% for category, msg in get_flashed_messages(True) %}
    <div class="flash {{ category }}">{{ msg }}</div>
    {% endfor %}
<form action="{{ url_for("new_account") }}" method="POST" id="authorize">
    <label for="username">Никнейм:</label>
    <input type="text" name="username" id="username" placeholder="Введите фамилию">

    <label for="password">Пароль:</label>
    <input type="password" name="password" id="password" placeholder="Придумайте пароль">

    <br><br>
    <label for="name">Имя:</label>
    <input type="text" name="name" id="name" placeholder="Введите имя">

    <label for="lastname">Фамилия:</label>
    <input type="text" name="lastname" id="lastname" placeholder="Введите фамилию">

    <label for="patronymic">Отчество:</label>
    <input type="text" name="patronymic" id="patronymic" placeholder="Введите отчество">
    <br><br>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" placeholder="your@ema.il">

    <label for="tel">Телефон:</label>
    <input type="tel" name="tel" id="tel" placeholder="+7XXXXXXXXXX">

{#    <label for="select">#}
{#        Выберите один:#}
{#        <select name="select" id="select">#}
{#            <option disabled selected>Выберите элемент</option>#}
{#            {% for i in ["Какая-то заявка", "Еще какая-то заявка", "И еще какая-то заявка"] %}#}
{#            <option>{{ i }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#    </label>#}
{#    <br>#}
{#    <input type="" name="" id="">#}
    <br>
    <div class="checkbox">
    <input type="checkbox" name="remember" id="checkbox" class="checkbox_input">
    <label class="checkbox_label" for="checkbox">Запомнить</label>
    </div>
    <br>

    <input type="submit">
    <input type="reset">
</form>
{% endblock %}