html {
  cursor: url("../files/cursors/cursor.cur"), default;
}

body {
  width: 100%;
  background-color: #222;
  color: #999;
  font-family: Calibri, sans-serif !important;
  font-style: italic;
  margin: 0;
}

main, footer {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-left: 130px;
  padding: 20px;
  z-index: 1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #555;
  z-index: 10;
}

a[href] {
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  color: #b99;
  cursor: url("../files/cursors/link.cur"), pointer;
}
a[href]:visited {
  color: #bb8383;
}
a[href]:hover {
  color: #baa;
}
a[href]:visited:hover {
  color: #997777;
}
a[href]:active, a[href]:visited:active {
  color: #644;
}

#skills {
  box-sizing: border-box;
  border: 8px solid #555;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
}
#skills legend {
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
}
#skills progress {
  border: none;
  width: 100%;
  height: 25px;
  overflow: hidden;
}
#skills progress::-webkit-progress-bar {
  width: 100%;
  background-color: #444;
}
#skills progress::-webkit-progress-value {
  background-color: #666;
}

body::-webkit-scrollbar, .menu_open::-webkit-scrollbar, #messenger::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track, .menu_open::-webkit-scrollbar-track, #messenger::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-thumb, .menu_open::-webkit-scrollbar-thumb, #messenger::-webkit-scrollbar-thumb {
  background-color: #555;
}

.menu_open::-webkit-scrollbar {
  width: 5px;
}
.menu_open::-webkit-scrollbar-track {
  margin-bottom: 100px;
}

hr {
  border: 1px solid;
  width: 100%;
}

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: url("../files/cursors/button.cur"), pointer;
}

path {
  stroke: #999;
}

.button_img {
  width: 54px !important;
  max-height: 80px;
}

#menu {
  position: fixed;
  background-color: #3a3a3a;
  height: 100%;
  width: 80px;
  top: 0;
  z-index: 5;
  border-left: 10px solid #555;
  padding-bottom: 100px;
}
#menu ul {
  list-style: none;
  display: block;
  width: 80px;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#menu ul li {
  display: block;
  width: 80px;
  height: auto;
  position: relative;
}
#menu ul li a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2em;
  padding: 10px 15px;
  text-decoration: none;
}
#menu ul li a:hover, #menu ul li:hover {
  background-color: #2b2b2b;
}

#other ul, #list ul {
  position: absolute;
  z-index: 4;
  margin-left: 80px;
  height: 100%;
  top: 0;
  display: none;
  background-color: #2b2b2b;
  overflow-y: auto;
  padding-bottom: 100px;
  border-right: 5px solid #222;
}
#other ul li, #list ul li {
  width: 100%;
}
#other ul li a[href], #list ul li a[href] {
  white-space: nowrap;
  background-color: #2b2b2b;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  color: #999;
}
#other ul li a[href][href]:hover, #list ul li a[href][href]:hover {
  background-color: #252525;
}
#other:hover ul, #list:hover ul {
  display: block;
}

#list ul {
  width: auto;
  min-width: 250px;
  max-width: 400px;
  top: -80px;
}
#list ul li a {
  padding: 5px 20px 4px 20px;
  height: 40px;
}

#other ul {
  width: 80px;
  min-width: 80px;
  top: -160px;
}
#other ul li a {
  height: auto;
  max-height: 80px;
}

#other ul {
  display: block;
}

body {
  position: fixed;
  height: 80%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clock {
  position: relative;
  width: 80%;
  background-color: #222;
  display: flex;
  overflow: hidden;
  aspect-ratio: 1.5;
  color: rgba(0, 0, 0, 0);
}
@media (min-width: 1100px) {
  .clock {
    width: 60%;
  }
}

div div {
  height: 100%;
  width: 33.3333333333%;
}
div div div {
  width: 50%;
  height: 25%;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  justify-content: center;
  box-sizing: border-box;
  border: 5px solid #222;
}
@media (min-width: 1100px) {
  div div div {
    font-size: 70px;
  }
}

.minute {
  left: 33.3333333333%;
  top: -100%;
}

.second {
  left: 66.6666666667%;
  top: -100%;
}

#h16 {
  top: 75%;
  left: 0;
}

#h1, #h2, #h4, #h8 {
  top: -25%;
  left: 50%;
}

#m1, #m2, #m4, #m8, #s1, #s2, #s4, #s8 {
  top: -50%;
  left: 50%;
}

#m16, #m32, #s16, #s32 {
  top: 50%;
}

/*# sourceMappingURL=binClock.css.map */
